/* @TODO: Split styles to separate files  */
/* @TODO: Switch to BEM  */

.tabs {
  margin-top: var(--spacer-medium);
}

.tabs__list {
  display: flex;
  align-items: flex-start;
  gap: var(--spacer-medium);
}

.avatar {
  user-select: none;
  width: 48px;
  height: 48px;
  font-size: var(--font-large);
  font-weight: 600;
  border: 2px solid var(--primary-300);
  background-color: var(--background-900);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--brad-medium);
}

.transactions-table {
  background-color: var(--background-800);
  border-radius: var(--brad-medium);
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.transactions-table td {
  padding: var(--spacer-medium) var(--spacer-small);
}

.transactions-table th {
  color: var(--primary-300);
  border-bottom: 1px solid var(--primary-100);
  padding: var(--spacer-medium) var(--spacer-small);
  text-align: left;
  font-weight: normal;
}

/* Align last cells to right */
.transactions-table tr > td:last-child,
.transactions-table tr > th:last-child {
  text-align: right;
}

.transaction-detail {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--spacer-medium);
}

.transaction-category {
  font-size: var(--font-small);
  color: var(--primary-300);
}

.transaction-amount {
  font-weight: 500;
}
