.accounts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: var(--spacer-medium);
  padding: 0;
  list-style-type: none;
}

.account {
  background: var(--background-800);
  padding: var(--spacer-large);
  text-align: left;
  border-radius: var(--brad-small);
}

.account__total {
  color: var(--primary-300);
  margin-bottom: var(--spacer-small);
  line-height: 1.38;
}

.account__currency {
  font-size: var(--font-large);
}
